*{
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans Display', sans-serif;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  background-color: #EEEEEE;
  color: #000000;
}

p{
  /* font-size: 18px; */
}

#header{
  width: 100%;
  height: 100vh;
  /* background-image: url("images/background.png"); */
  /* background: url("../images/mybackgroundphoto2.png"); */
  background-size: cover;
  background-position: left;
}

/* .container{
  margin: 10px 20%;
} */

.uniform-margin{
  margin: 70px 20%;
}

nav{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  width: 180px;
}

.nav-item{
  display: inline-block;
  list-style: none;
  margin: 10px 0 10px 40px;
  font-size: 1.2rem;
}

.nav-item a{
  text-decoration: none;
  color: #000000;
  position: relative;
}

.nav-item a:hover{
  color: #F15412;
}

.nav-item a::after{
  height: 3px;
  width: 0;
  content: "";
  bottom: -6px;
  left: 0;
  background: #F15412;
  position: absolute;
  transition: 0.5s;
}

.nav-item a:hover::after{
  width: 100%;
}

.headerText h1{
  text-transform: capitalize;
  margin-top: 20%;
  font-size: 40px;
  line-height: 2;
  position: relative;
  z-index: 1;
}

.firstName{
  color: #F15412;
}

.headerText h3{
  position: relative;
  z-index: 1;
}

/* About section */
.aboutDiv{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.aboutPix{
  width: 55%;
  /* background-color: white; */
  border-radius: 15px;
}

.aboutPix img{
  margin-top: 10px;
  width: 100%;
  height: 100%;

  /* object-fit: cover; */
  border-radius: 15px;
}

.aboutText{
  width: 40%;
}

.aboutText p{
  width: 80%;
}

.sectionH2{
  font-size: 40px;
  text-transform: capitalize;
}

.aboutTabs{
  display: flex;
}

.tab-item{
  margin: 0 20px 20px 0;
  cursor: pointer;
  position: relative;
}

.tab-item::after{
  content: "";
  width: 0;
  height: 3px;
  left: 0;
  bottom: -6px;
  position: absolute;
  background: #F15412;
  transition: 0.5s;
}

.active::after{
  width: 50%;
}

.tab-content-head{
  color: #ad3705;
  font-size: 14px;
}

.tab-content ul li{
  list-style: none;
  margin: 10px 0;
}

.tab-content{
  display: none;
}

.active-tab{
  display: block;
}

/* --------Services----- */
/* .servicesDiv{
  margin: 50px 20%;
} */

.service-items{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  margin-top: 20px;
}

.service-item{
  background-color: gray;
  color: #EEEEEE;
  padding: 20px;
  border-radius: 15px;
  transition: background 0.5s, transform 0.5s;

}

.service-item i{
  font-size: 40px;
  margin-bottom: 10px;
}

.service-item h3{
  font-size: 30px;
  margin-bottom: 10px;
}

.service-item a{
  text-decoration: none;
  font-size: 12px;
  margin-top: 20px;
  color: #EEEEEE;
  display: block;
  /* float: right; */
}

.service-item:hover{
  /* background-color: #F15412; */
  /* background-color: #990000; */
  background-color: #EEEEEE;
  color: #000000;
  transform: translateY(-10px);
  border: 2px solid gray;
}


/* ------My Work------- */
/* .portfolio{
  margin: 70px 20%;
} */

/* .portfolioContainer{
  text-align: center;
} */

.work{
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}

.work-items{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  margin-top: 20px;
}

.work img{
  width: 100%;
  border-radius: 15px;
  display: block;
  transition: transform 0.5s;
}

.work img:hover{
  transform: scale(1.1);
}

.work-text{
  width: 100%;
  height: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  background: linear-gradient(rgba(0,0,0,0.6), #990000);
  position: absolute;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
  text-align: center;
  transition: height 0.5s;

}

.work:hover .work-text{
  height: 100%;
}

.work-text h3{
  font-weight: 500;
  margin-bottom: 20px;
}

.work-text a{
  text-decoration: none;
  font-size:20px;
  width: 55px;
  height: 55px;

  margin-top: 20px;
  /* color: #EEEEEE; */
  color: #990000;
  /* color: #FFDE00; */
  background: #EEEEEE;
  border-radius: 100%;
  line-height: 50px;
}

.work-text a:hover{
  color: #FFDE00;
  background:#990000;
}

.btn{
  text-decoration: none;
  background-color: #000000;
  border: 2px solid #F15412;
  border-radius: 5px;
  padding: 10px 30px;
  text-transform: capitalize;
  color: #EEEEEE;
  display: block;
  /* width: 15%; */
  width: fit-content;
  margin: 30px auto 30px auto;
  text-align: center;
  letter-spacing: 2px;
  transition: background 0.5s;
}

.btn:hover{
  background-color: #EEEEEE;
  color: #000000;
  font-weight: bolder;
}


/* ----------Contact Me--------- */
/* .contact-me{
  margin: 70px 20%;

} */

.contact-me-divs{
  display: flex;
  padding-top: 20px;
  justify-content: space-between;
}

.contact-left-div{
  flex-basis: 35%;
}

.contact-left-div p i{
  margin:10px 15px 10px 0;

  /* color: #EEEEEE; */
  font-size: 25px;
}

.contact-left-div a i{
  margin: 10px 15px 10px 0;
  text-decoration: none;
  color: #000000;
  font-size: 25px;
  transition: 0.5s;
}

.contact-left-div a i:hover{
  color: #F15412;
  transform: translateY(-5px);
}


.contact-right-div{
  flex-basis: 60%;
}

.btn2{
  margin-left: 0;
}

form{
  width: 100%;
}

form input, form textarea{
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #EEEEEE;
  font-size: 18px;
  border-radius: 7px;
}

form .btn3{
  margin-top: 10px;
  padding: 10px 50px;
  cursor: pointer;
}

.copywright{
  width: 100%;
  text-align: center;
  padding: 25px 0;
  font-weight: 200;
  margin-top: 20px;
  background: #272727;
  color: #EEEEEE;
}

/* -------------Mobile screen view----------- */
.icon{
  position: absolute;
  visibility: hidden;
  font-size: 35px;
}

.icon1{
  top: 80px;
  right: 50px;
}

.icon2{
  top: 30px;
  right: 40px;

}

.openNav{
  right: 0;
}

.body-color{
    opacity: 0.4;
}

.sentMessage{
  color: green;
  text-transform: capitalize;
  /* margin-top: -100px; */
  visibility: hidden;

}

@media screen and (min-width: 921px) and (max-width: 1220px){
  .logo{
    width: 150px;
  }

  .nav-item{
    margin: 10px 0 10px 50px;
    font-size: 1.1rem;
  }

  .headerText h1{
    font-size: 2rem;
  }

  .uniform-margin{
    margin: 70px 10%;
  }
}

@media screen and (min-width: 620px) and (max-width: 920px){

  .logo{
    width: 140px;
  }

  .nav-item{
    margin: 10px 0 10px 10px;
    font-size: 1rem;
  }

  .headerText h1{
    font-size: 2rem;
  }

  .uniform-margin{
    margin: 70px 10%;
  }

  .aboutText p{
    width: 100%;
  }
}

@media screen and (max-width: 619px){

  .logo{
    width: 120px;
  }

  .uniform-margin{
    margin: 40px 5%;
  }

  .icon{
    visibility: visible;
  }

  .icon1{
    top: 42px;
    /* right: 50px; */
    right: 5%;
  }

  nav ul{
    background-color: #F15412;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: 0.5s;
  }



  .nav-item{
    display: block;
    margin: 20px;
  }

  .aboutText p{
    width: 100%;
  }

  .aboutPix{
    width: 100%;
    margin-bottom: 30px;
  }

  .aboutText{
    width: 100%;
  }

  .service-items{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .work-items{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .contact-me-divs{
    flex-direction: column;
  }

  form{
    margin-top: 30px;
  }

  /* .contact-left-div{
    flex-basis: 100%;
  }

  .contact-right-div{
    flex-basis: 100%;
  } */

  .nav-item a:hover{
    color:  #EEEEEE;
  }

  .nav-item a::after{
    background: #EEEEEE;
  }
}








.jUAUNp {
    position: absolute;
    width: 0.764231rem;
    top: 77.6639vh;
    overflow: hidden;
    left: 1.91946vw;
    animation: 9.20109s ease-in-out 0s infinite alternate none running pulse, 260.527s linear 0s 1 normal forwards running roll;
}

.imMAah {
    position: absolute;
    width: 3.076rem;
    top: 16.5102vh;
    overflow: hidden;
    left: 79.3018vw;
    animation: 10.5392s ease-in-out 0s infinite alternate none running pulse, 256.264s linear 0s 1 normal forwards running roll;
}

.cTtuvK {
    position: absolute;
    width: 2.57336rem;
    top: 50.5806vh;
    overflow: hidden;
    left: 72.1032vw;
    animation: 8.79669s ease-in-out 0s infinite alternate none running pulse, 191.635s linear 0s 1 normal forwards running roll;
}

.kXdVsS {
    position: absolute;
    width: 5.50451rem;
    top: 22.1045vh;
    overflow: hidden;
    left: 32.1952vw;
    animation: 9.74122s ease-in-out 0s infinite alternate none running pulse, 147.193s linear 0s 1 normal forwards running roll;
}

.dTFxSR {
    position: absolute;
    width: 1.77786rem;
    top: 22.9554vh;
    overflow: hidden;
    left: 10.3908vw;
    animation: 10.0983s ease-in-out 0s infinite alternate none running pulse, 139.784s linear 0s 1 normal forwards running roll;
}

.pLFyn {
    position: absolute;
    width: 2.37881rem;
    top: 50.7073vh;
    overflow: hidden;
    left: -5.98786vw;
    animation: 11.7562s ease-in-out 0s infinite alternate none running pulse, 177.123s linear 0s 1 normal forwards running roll;
}

.bZdCFc {
    position: absolute;
    width: 5.85403rem;
    top: 64.1676vh;
    overflow: hidden;
    left: 47.1275vw;
    animation: 10.779s ease-in-out 0s infinite alternate none running pulse, 157.333s linear 0s 1 normal forwards running roll;
}

.kEPCbJ {
    position: absolute;
    width: 2.34076rem;
    top: 69.0841vh;
    overflow: hidden;
    left: 6.49499vw;
    animation: 11.1124s ease-in-out 0s infinite alternate none running pulse, 178.57s linear 0s 1 normal forwards running roll;
}

.bSMfSr {
    position: absolute;
    width: 5.31795rem;
    top: 18.6907vh;
    overflow: hidden;
    left: 71.1619vw;
    animation: 10.289s ease-in-out 0s infinite alternate none running pulse, 187.31s linear 0s 1 normal forwards running roll;
}

.cnsmYx {
    position: absolute;
    width: 1.30067rem;
    top: 40.6672vh;
    overflow: hidden;
    left: -1.16553vw;
    animation: 9.22283s ease-in-out 0s infinite alternate none running pulse, 278.091s linear 0s 1 normal forwards running roll;
}

.gXBXa {
    position: absolute;
    width: 2.49699rem;
    top: 78.4746vh;
    overflow: hidden;
    left: 9.33923vw;
    animation: 9.64781s ease-in-out 0s infinite alternate none running pulse, 218.034s linear 0s 1 normal forwards running roll;
}

.erxat {
    position: absolute;
    width: 4.61142rem;
    top: 46.8367vh;
    overflow: hidden;
    left: 57.1518vw;
    animation: 8.78106s ease-in-out 0s infinite alternate none running pulse, 221.145s linear 0s 1 normal forwards running roll;
}

.hxYRMQ {
    position: absolute;
    width: 6.61371rem;
    top: 81.7824vh;
    overflow: hidden;
    left: 84.3247vw;
    animation: 7.0044s ease-in-out 0s infinite alternate none running pulse, 288.4s linear 0s 1 normal forwards running roll;
}

.fahvUL {
    position: absolute;
    width: 4.46252rem;
    top: 58.5356vh;
    overflow: hidden;
    left: 18.2115vw;
    animation: 7.95417s ease-in-out 0s infinite alternate none running pulse, 120.441s linear 0s 1 normal forwards running roll;
}

.VTzpQ {
    position: absolute;
    width: 0.524639rem;
    top: 56.6096vh;
    overflow: hidden;
    left: 68.1017vw;
    animation: 10.8913s ease-in-out 0s infinite alternate none running pulse, 191.365s linear 0s 1 normal forwards running roll;
}

.bWfRtJ {
    position: absolute;
    width: 6.71492rem;
    top: 48.2223vh;
    overflow: hidden;
    left: 46.856vw;
    animation: 7.25459s ease-in-out 0s infinite alternate none running pulse, 137.863s linear 0s 1 normal forwards running roll;
}

.eVTfzM {
    position: absolute;
    width: 1.0745rem;
    top: 48.7503vh;
    overflow: hidden;
    left: 41.8579vw;
    animation: 10.2895s ease-in-out 0s infinite alternate none running pulse, 236.725s linear 0s 1 normal forwards running roll;
}

/* .faGOpK {
    position: absolute;
    width: 4.43424rem;
    top: 47.1348vh;
    overflow: hidden;
    left: 46.0487vw;
    animation: 11.5441s ease-in-out 0s infinite alternate none running pulse, 146.864s linear 0s 1 normal forwards running roll;
} */

.kKEfOR {
    position: absolute;
    width: 5.61578rem;
    top: 69.3422vh;
    overflow: hidden;
    left: 12.5572vw;
    animation: 11.5072s ease-in-out 0s infinite alternate none running pulse, 156.265s linear 0s 1 normal forwards running roll;
}

.grjnEx {
    position: absolute;
    width: 2.71953rem;
    top: 24.7918vh;
    overflow: hidden;
    left: 56.2249vw;
    animation: 11.176s ease-in-out 0s infinite alternate none running pulse, 122.034s linear 0s 1 normal forwards running roll;
}

.bAkEjI {
    position: absolute;
    width: 6.88306rem;
    top: 15.4116vh;
    overflow: hidden;
    left: 26.6412vw;
    animation: 7.01144s ease-in-out 0s infinite alternate none running pulse, 139.199s linear 0s 1 normal forwards running roll;
}

.iynjeb {
    position: absolute;
    width: 3.21276rem;
    top: 60.672vh;
    overflow: hidden;
    left: 0.949336vw;
    animation: 10.3121s ease-in-out 0s infinite alternate none running pulse, 227.226s linear 0s 1 normal forwards running roll;
}

.jEfLyt {
    position: absolute;
    width: 3.5822rem;
    top: 63.0724vh;
    overflow: hidden;
    left: 31.0568vw;
    animation: 8.72581s ease-in-out 0s infinite alternate none running pulse, 228.698s linear 0s 1 normal forwards running roll;
}

.cyhmjh {
    position: absolute;
    width: 1.91404rem;
    top: 25.9898vh;
    overflow: hidden;
    left: 82.0683vw;
    animation: 7.40964s ease-in-out 0s infinite alternate none running pulse, 177.899s linear 0s 1 normal forwards running roll;
}

.kQAThA {
    position: absolute;
    width: 1.31916rem;
    top: 47.9123vh;
    overflow: hidden;
    left: 56.6676vw;
    animation: 8.62888s ease-in-out 0s infinite alternate none running pulse, 220.299s linear 0s 1 normal forwards running roll;
}

.drriUG {
    position: absolute;
    width: 0.524895rem;
    top: 44.6217vh;
    overflow: hidden;
    left: 25.7906vw;
    animation: 9.04368s ease-in-out 0s infinite alternate none running pulse, 186.4s linear 0s 1 normal forwards running roll;
}

.bIGboh {
    position: absolute;
    width: 2.23151rem;
    top: 19.4705vh;
    overflow: hidden;
    left: -1.01118vw;
    animation: 8.39471s ease-in-out 0s infinite alternate none running pulse, 202.839s linear 0s 1 normal forwards running roll;
}

.eGKdHC {
    position: absolute;
    width: 0.806092rem;
    top: 44.5745vh;
    overflow: hidden;
    left: 19.6777vw;
    animation: 7.05431s ease-in-out 0s infinite alternate none running pulse, 181.612s linear 0s 1 normal forwards running roll;
}

.jHUwyM {
    position: absolute;
    width: 2.59633rem;
    top: 89.4941vh;
    overflow: hidden;
    left: 4.11834vw;
    animation: 10.3923s ease-in-out 0s infinite alternate none running pulse, 264.852s linear 0s 1 normal forwards running roll;
}

.gyctmH {
    position: absolute;
    width: 2.01052rem;
    top: 32.1612vh;
    overflow: hidden;
    left: 10.4359vw;
    animation: 11.2891s ease-in-out 0s infinite alternate none running pulse, 123.659s linear 0s 1 normal forwards running roll;
}


/* ----------Projects Page---------- */
.projects-margin{
  margin: 40px 10%;
}

.portfolioDiv{
  margin-top: 50px;
  display: grid;
  grid-gap: 40px;
  grid-template-columns: 30% 45% 20%;
}

.portfolioDiv h3{
  margin: 20px 0;
}

.portfolioDiv li{
  /* list-style: none; */
  /* margin-left: 20px; */
}

.frontendmentor{
  margin: 30px auto 0 auto;
  font-weight: bold;
  font-size: 13px;
  width: 43%;
}


.portImg{
  width: 100%;
  transition: transform 0.5s;
  overflow: hidden;
}

.portImg:hover{
  transform: scale(1.1);
}

.indent-list{
  margin-left: 20px;
}

.indent-list2{
  margin-left: 20px;
  list-style: none;
}

.overview h4{
  margin: 20px auto 10px auto;
}

.font-icon{
  width: 20px;
  margin-right: 5px;
  transition: 0.5s;
}

.font-icon:hover{
  transform: scale(1.5);
  color: #F15412;
}

/* svg:hover{
  color: #F15412;
} */

.links-p{
  margin-top: 5px;
}

.links-p a{
  text-decoration: none;
  color: black;
  margin-bottom: 10px;
}
